div{
   background-color: rgb(211, 82, 82);
   display: inline-block;
   width: 100%;
}

ul,li,h1
{
    display: inline;

}
h1{
    padding-left: 45%;
}

ul{
    margin-left: 300px;
}

li{
    margin-left: 50px;
}

li:hover{
    cursor: pointer;
    color:aqua;
    border: 5px solid black;
    padding: 3px;
}

.lk{
    visibility: hidden;
}

.lk:hover{
    visibility: visible;
}